#content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 45%;
    width: 97%;
    height: 35%;
    z-index: -1;
}

#state {
    position: relative;
    opacity: 0.1;
    margin-top: -240px;
    margin-left: auto;
    margin-right: auto;
    content: url(../img/location-black.svg);
    height: 160px;
    width: auto;
    z-index: 1;
    -webkit-transition: opacity 0.5s ease-in; //for chrome, safari
    -moz-transition: opacity 0.5s ease-in; //for mozilla firefox
    -o-transition: opacity 0.5s ease-in; //for opera
}

#state.fade-in {
    opacity: 1;
}

#state.fade-out {
    opacity: 0.1;
}

#progress {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    width: 320px;
    display: block;
    z-index: 2;
}

#progress > svg {
    height: 100%;
    display: block;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  transform-origin: 50% 50%;
}